.jumbotron {
    background-image: url('https://image.freepik.com/foto-gratis/recepcion-hotel-borrosa_1203-1411.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.espacio{
    margin-bottom: 50px;
}
body{
    background-color: #f8f6f6;
}
#content{
    margin:auto;
    width: 80%;
    background-color: white;
}
label{
    font-weight: 600;
    font-size: 16px;
    color: #636161;
}
img{
    width: 150px;
    height: 250px;
}
.subtit{
    text-align: center;
    margin-bottom: 0;
}
#comple{
    font-size: 14px;
    color:black;
}
